.div{
    background: radial-gradient(circle at top, #EEF2FF, #F8FAFC); 
}
.card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    min-width: 250px;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 9999px; 
    margin-bottom: 1rem;
}

.name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0F172A;
}

.role {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #3B82F6;
}

.bio {
    font-size: 0.9rem;
    line-height: 1.5;
}